:root {
    --white: white;
    --black: black;
    --gray:  gray;
    --blue: rgb(5, 121, 255);
    --mint: lightseagreen;
    --mainColor: #313131;
    --primaryColor: whitesmoke;
    --secondaryColor:black;
    
    --borderColor:#272727;
    --themeDotBorder: #fff;

    --mainText:white;
    --secondaryText: #e4e3e3;
    --thirdText: #ffffff;

    --previewBg: rgba(27, 27, 27, 0.8);
    --preview2Bg: rgb(2,180,156);
    --previewShadow: whitesmoke;
    
    --themeLight: #ffffff;
    --themeMint: #79DAD3;
    --themeLemon: #EEE635;
    --themeDark: #313131;
    --buttonColor: whitesmoke;
}